/*
    basic media queries works with max and min width 
    those are like conditionals that apply css properties 
    depending on the conditions 

    a good idea is to use mobile first 
*/


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img {
    display: block;
    width: 90%;
    object-fit: cover;
    margin: 0 auto;
    margin-top: 30px;
}


@media (max-width:800px) {
    body {
        background-color: steelblue;
    }

    img {
        width: 50%;
    }
}