/*
    box model practice


*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial;
}

/*

.title {
    text-align: center;
    margin-top: 20px;
}

.btn {
    background-color: purple;
    text-decoration: none;
    color: white;
    padding: 20px 10px;
    display: block;
    width: 150px;
    text-align: center;
    margin: 0 auto;
    margin-top: 30px;
    border-radius: 40px;
}

*/

.card {
    background-color: #15273f;
    color: white;
    width: 300px;
    height: 500px;
    margin: 0 auto;
    margin-top: 50px;
    text-align: center;
    padding: 20px 25px;
    border-radius: 10px;
}

/* images behaves simirarly to inline-block element */
.card__img {
    height: 250px;
    width: 100%;
    display: block;
    object-fit: cover; /* fix image resolution */
    border-radius: inherit;
}

.card__title {
    margin-top: 30px;
    margin-bottom: 15px;
    padding-bottom: 10px;
    border-bottom: 1px solid white;
}

.card__paragraph {
    color: #99b8d4;
}

.card__cta {
    background-color: #99b8d4;
    display: block;
    margin-top: 25px;
    padding: 15px 0;
    text-decoration: none;
    color: inherit;
    border-radius: 5px;
}